@import url('https://fonts.cdnfonts.com/css/satoshi');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Satoshi', sans-serif;
}

body {
}

body.dark {
  @apply bg-gray-900 text-gray-100;
}

.custom-code-block {
  font-family: monospace;
  white-space: pre;
  background-color: #2d2d2d;
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  overflow-x: auto;
}

.custom-code-block code {
  display: block;
}
